::-webkit-scrollbar 
{
	width: 10px; 
}

::-webkit-scrollbar-track 
{
	background: #dfe6e9; 
}

::-webkit-scrollbar-thumb 
{
	background: #2fa48f; 
	border: 500px solid #42526217;
}

::selection
{
	background: #2d3e50;
	color: #2fa48f; 
}
body,html
{
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	background: url('topography.png');
}
h1
{
	font-family: 'Rubik', sans-serif;
}
h2
{
	font-family: 'Source Sans Pro', sans-serif;
}
header
{
	width: 100%;
	height: 80px;
	position: fixed;
	border-bottom: 0px solid #42526217;
	-webkit-transition: .5s ease; /* Safari */
    transition: .5s ease;
}
header img
{
	width: 200px;
	height: auto;
	padding-left: 80px;
	position: relative;
	top: 45px; 
}
.tags
{
	float: right;
	padding: 28px;
	margin-right: 50px;
}
.tags a
{
	
	margin: 5px;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #ffffff;
	font-size: 13px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-radius: 15px;
	-webkit-transition: .5s ease; /* Safari */
    transition: .5s ease;
}
.tags a:hover
{
	background: #2d3e50;	
	color: #ffffff;
	box-shadow: 0px 0px 30px 2px #00000052;
}

.mid
{
	display: table-cell;
	vertical-align: middle;
}
.home
{
	width: 100%;
	height: 780px;
	background: url("cover.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.left
{
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	display: table;
}
.left h1
{
	font-size: 80px;
	font-family: Changa One;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    color: #10101094;
    display: inline-block;
}
.left h3
{
	font-size: 78px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    color: #10101094;
    display: inline-block;
}
.left h2
{
	font-size: 30px;
	font-family: 'Amaranth', sans-serif;
	font-style: italic;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    color: #2d3e5096;
}
.para
{
	width: 50%;
	margin-left: 25%;
	-webkit-margin-after: 200px;
	color: #0006;
}
.left p
{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}


.societies
{
	width: 100%;
	text-align: left;
}
.societies h1
{
	text-align: left;
	margin-left: 50px;
	font-size: 30px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 50px;
    color: #2c3e50;
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 5px solid #2fa792;
	/*font-family: 'Patua One', cursive;*/
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Lalezar', cursive;
}

.societies .container
{
	width: 70%;
	padding: 15%;
	padding-top: 0px;
	text-align: center;
}
.societies .container .box
{
	width: 28%;
	background: #ffffff;
	box-shadow: 1px 2px 100px #0000001a;
	border-radius: 2px;
	display: inline-block;
	margin: 10px;
}
.box .container
{
	width: 70%;
	padding: 15%;
	padding-top: 10%;
	padding-bottom: 15%;
	text-align: justify;
	color: #1d1d1d94;
}
.box p
{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 20px;
}
.box h2
{
	color: #2c3e50;
	font-size: 18px;
}
.box a
{
	font-size: 12px;
	letter-spacing: 3px;
	text-decoration: none;
	color: #1bbc9b;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 15px;
	-webkit-transition: .5s ease; /* Safari */
    transition: .5s ease;
}
.box a i
{
	padding-left: 10px;
	font-size: 14px;
}
.box a:hover
{
	background: #1bbc9b;	
	color: #ffffff;
}



.academics
{
	width: 100%;
	height: 650px;
	background: url('backx.png');
	background-size: cover;
}
.academics .left
{
	width: 50%;
	height: 80%;
	float: left;
	background: url('books.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.academics .mid
{

}
.academics .container
{
	display: table;
	height: 100%;
	width: 60%;
	margin-left: 5%;
	margin-right: 35%; 
}
.academics .right
{
	width: 50%;
	height: 100%;
	float: right;

}
.academics p
{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 20px;
	color: #636e72;
}
.academics h1
{
	color: #2c3e50;
	font-size: 28px;
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 5px solid #2fa792;
	/*font-family: 'Patua One', cursive;*/
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Lalezar', cursive;
}
.academics a
{
	font-size: 12px;
	letter-spacing: 3px;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 30px;
	-webkit-transition: .5s ease; /* Safari */
    transition: .5s ease;
    background: #1bbc9b;	
	color: #ffffff;
	border:2px solid  #1bbc9b;
}
.academics a i
{
	padding-left: 10px;
	font-size: 14px;
}
.academics a:hover
{
	color: #1bbc9b;
	background:#1bbc9b00;

}


.events
{
	width: 100%;
	height: 680px;
	background: #f7f8fb;
}
.events .left
{
	width: 50%;
	height: 95%;
	float: left;
	text-align: left;
}
.events .right
{
	width: 50%;
	height: 70%;
	float: right;
	background: url('events.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.events .container
{
	display: table;
	height: 100%;
	width: 60%;
	margin-left: 35%;
	margin-right: 5%; 
}
.events .right
{
	width: 50%;
	height: 100%;
	float: right;

}
.events p
{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 20px;
	color: #636e72;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}
.events h1
{
	color: #2c3e50;
	font-size: 28px;
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 5px solid #2fa792;
	-webkit-margin-after: 15px;
	/*font-family: 'Patua One', cursive;*/
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Lalezar', cursive;
}
.events a
{
	font-size: 12px;
	letter-spacing: 3px;
	text-decoration: none;	
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 30px;
	-webkit-transition: .5s ease; /* Safari */
    transition: .5s ease;
    background: #1bbc9b;	
	color: #ffffff;
	border:2px solid  #1bbc9b;
}
.events a i
{
	padding-left: 10px;
	font-size: 14px;
}
.events a:hover
{
	color: #1bbc9b;
	background:#1bbc9b00;
}




.placements
{
	width: 100%;
	height: 800px;
	background: url('backxy.png');
	background-size: cover;
}
.placements .left
{
	width: 50%;
	height: 80%;
	float: left;
	background: url('placements.png');
	background-size: contain;
	background-repeat: no-repeat; 
}
.placements .right
{
	width: 50%;
	height: 100%;
	float: right;
}
.placements .container
{
	display: table;
	height: 100%;
	width: 60%;
	margin-left: 5%;
	margin-right: 35%; 
}
.placements .right
{
	width: 50%;
	height: 100%;
	float: right;

}
.placements p
{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 20px;
	color: #636e72;
}
.placements h1
{
	color: #2c3e50;
	font-size: 28px;
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 5px solid #2fa792;
	/*font-family: 'Patua One', cursive;*/
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Lalezar', cursive;
}
.placements a
{
	font-size: 12px;
	letter-spacing: 3px;
	text-decoration: none;
	
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 30px;
	-webkit-transition: .5s ease; /* Safari */
    transition: .5s ease;
    background: #1bbc9b;	
	color: #ffffff;
	border:2px solid  #1bbc9b;
}
.placements a i
{
	padding-left: 10px;
	font-size: 14px;
}
.placements a:hover
{
	color: #1bbc9b;
	background:#1bbc9b00;
}
hr
{
	width:60%;
	background-color: #f7f8fb;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 20%;
    border-width: 2px;
    border-bottom: 0px;
    color: #1bbc9b;
	border-style: dashed;
	display: inline-block;
}
footer
{
	width: 100%;
	text-align: center;
	background:#273844;
	margin: 0px;

}
footer h1
{
	font-size: 15px;
	padding: 30px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}